.achievement {
    background-color: $main-1-color;
}

.achievement__h2 {
    color: $main-2-color;
    margin-bottom: 59px;
    font-size: 96px;
}

.achievement__list {
    display: flex;
    flex-direction: column;
    gap: 65px;
}

.achievement__li {
    width: 1270px;
    height: 450px;
    background-color: $main-2-2-color;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 86px;
    border-radius: 44px;

    &:nth-child(2n) {
        flex-direction: row-reverse;

        .achievement__textbox, .achievement__img {
            text-align: right;
        }

    }
}

.achievement__textbox {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.achievement__img {
    width: 40%;
    height: 300px;
    border-radius: 44px;
}

.achievement__h3 {
    font-size: 64px;
    color: rgb(102, 110, 255);
}

.achievement__p {
    font-size: 25px;
    color: black;
}