header {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(5, 105, 255);
    padding: 0 15px;
}

.logo__box {

    display: flex;
    align-items: center;
    gap: 10px;

    h1 {
        color: yellow;
    }

    .logo {
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }
}



nav {
    width: 650px;
    display: flex;
    align-items: center;
}

.nav__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav__link {

    transition-duration: 200ms;
    transition-property: transform;
    transition-timing-function: ease-in-out;
    transition-delay: 50ms;

    & > a {
    color: yellow;
    font-weight: bold;
    }

    &:hover {
        transform: scale(1.1);
    }
}

