* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.active__link {
    text-decoration: underline;
}

a {
    text-decoration: none;
}

.header__togle {
    display: none;
}

li {
    list-style: none;
    display: inline-block;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}