* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.active__link {
    text-decoration: underline;
}

a {
    text-decoration: none;
}

.header__togle {
    display: none;
}

li {
    list-style: none;
    display: inline-block;
}

section {
    color: $main-1-color;
    background-color: $main-2-color;
    padding: 40px 0;
}

h2 {
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}